body {
    display: flex;
    min-height: 100vh;
    margin: 0;
}

form {
    display: flex;
    width: 18em;
    margin: auto;
    flex-direction: column;
    justify-content: space-around;
    background: #FAFAFA;
    box-shadow: 0 0 1em rgba(0, 0, 0, .5);
}

input {
    display: block;
    margin: .6rem;
}

input[type="submit"] {
    line-height: 1.4;
}

#color {
    display: none;
}

label[for="color"] {
    display: block;
    height: 2em;
    background: #ff0000;
    margin: 0 .6em;
}

.error {
    background: red;
    border: 1px solid darkred;
    padding: 0 0.6rem;
    margin-top: 15px;
    line-height: 1.8;
    color: #FAFAFA;
    display: none;
    transition: .2s ease;
}

form input[type="checkbox"] {
    display: inline;
}