@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    position: relative;
    font-variant-ligatures: common-ligatures;
    text-shadow: 0 .03em .03em rgba(0, 0, 0, .5);
    padding: 0;
    margin: 0;
}

body {
    background: #dde7f0;
}

.info {
    line-height: 1.2;
    border-left: 10px solid burlywood;
    background: cornflowerblue;
    padding: 15px;
    font-size: 1.5em;
    font-weight: bolder;
}


/*Основное окно*/

.content {
    margin: auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 2em);
    background: #f0f5f9;
}


/*контейнер для сообщений*/

.chat {
    display: flex;
    flex: 2;
}

.msgcontent {
    display: flex;
    flex: 1;
}


/*scroll*/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}


/*сообщения*/

#msgs {
    align-self: flex-end;
    flex: 1;
    background: linear-gradient(#f0f5f9, #f0f5f9), radial-gradient(at top, rgba(0, 0, 0, .2), transparent 70%) no-repeat;
    background-size: 100% 15px;
    background-attachment: local, scroll;
    background-repeat: no-repeat;
    flex-direction: column;
    white-space: normal;
    max-height: 100%;
    overflow-x: hidden;
    padding: 0 1em;
}

.chat {
    display: flex;
    flex: 2;
    overflow: auto;
}

#msgs>div {
    margin: 5px;
}

.message {
    background: #58BCFF;
    max-width: 100%;
    text-overflow: ellipsis;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    margin: 2px;
    color: #162F40;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


/*Форма с сообщениями*/

form[name="sendMessage"] {
    display: flex;
}


/* [name="sendMessage"] */

form input:not([type="submit"]) {
    flex: 1;
    background: #e7eff7;
    color: #555;
    padding: 6px 12px;
    outline: none;
    border: 1px solid #69F
}

form input[type="submit"],
form a {
    background: #0091cf;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
    padding: 0 .5em;
    cursor: pointer;
}


/*Кнопка для кого сообщение*/

form a {
    order: 0;
    line-height: 1.9;
    display: none;
}

form a::after {
    content: ' | x';
}


/*список комнаты*/

#rooms {
    display: flex;
    flex-direction: column;
    max-width: 150px;
}

#rooms ul {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    list-style-type: none;
    height: 0;
}

#rooms ul a {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/*Окно загрузки*/

#loader {
    width: 100vw;
    height: 100vh;
    background-color: #FAFAFA;
    position: absolute;
    z-index: 10;
}